In [52]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [53]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
262,tt0844471,100000000,242988466,Cloudy with a Chance of Meatballs,Bill Hader|Anna Faris|James Caan|Mr. T|Benjami...,Phil Lord|Christopher Miller,Prepare to get served.,Inventor Flint Lockwood creates a machine that...,90,Animation|Comedy|Family,Columbia Pictures|Sony Pictures Animation,9/17/2009,6.4,2009
222,tt1647668,25000000,38307627,Million Dollar Arm,Jon Hamm|Bill Paxton|Lake Bell|Suraj Sharma|Aa...,Craig Gillespie,"Sometimes to win, sometimes you have to change...","In a last-ditch effort to save his career, spo...",124,Drama,Walt Disney Pictures,5/9/2014,6.6,2014
807,tt1402488,130000000,150406466,Happy Feet Two,Elijah Wood|Robin Williams|Pink|E.G. Daily|Joh...,George Miller,Every step counts.,Mumble the penguin has a problem: his son Erik...,100,Music|Family|Animation|Comedy,Village Roadshow Pictures|Warner Bros.|Dr D St...,11/17/2011,5.8,2011
495,tt1028576,35000000,60251371,Secretariat,Diane Lane|John Malkovich|Scott Glenn|Dylan Wa...,Randall Wallace,The Impossible True Story,Housewife and mother Penny Chenery agrees to t...,123,Drama,Walt Disney Pictures|Fast Track Productions|Ma...,8/20/2010,6.6,2010
520,tt0277371,16000000,66468332,Not Another Teen Movie,Chyler Leigh|Chris Evans|Jaime Pressly|Eric Ch...,Joel Gallen,They served you Breakfast. They gave you Pie. ...,"On a bet, a gridiron hero at John Hughes High ...",89,Comedy,Original Film|Columbia Pictures Corporation|Ne...,12/7/2001,5.3,2001

In [54]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [55]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
profit = data.revenue - data.budget
data1 = pd.concat([data,profit],axis = 1)
data1 = data1.rename(columns={data1.columns[-1]:'profit'})
# добавил в data столбец profit,сохранил новый датафрэйм
# в переменной data1

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [56]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data['budget'] == data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [57]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [8]:
data[data['runtime'] == data['runtime'].max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [58]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +
data[data['runtime'] == data['runtime'].min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [59]:
answers['4'] = '110'
# +
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [60]:
answers['5'] = '107'
# +
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [61]:
answers['6'] = 'Avatar (tt0499549)'
# +
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget
data1 = pd.concat([data,profit],axis = 1)
data1 = data1.rename(columns={data1.columns[-1]:'profit'})
data1[data1['profit'] == data1['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [62]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +
data1[data1['profit'] == data1['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [63]:
answers['8'] = '1478'
# +
data[data['budget'] < data['revenue']].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [64]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +
year_2008 = data1[(data1['release_year'] == 2008)].sort_values('revenue',ascending=False)
# отсортировал фильмы 8-го года по убыванию 'revenue'
year_2008[year_2008['revenue'] == year_2008['revenue'].max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [65]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +
df = data1.query('release_year in ["2012","2013","2014"] & budget > revenue')
# отобрал убыточные фильмы 12,13,14 годов,сохранил в df 
df[df['profit'] == df['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [66]:
answers['11'] = 'Drama'
# +
data = data.assign(genres = data.genres.str.split('|')).explode('genres')
# разделил data.genres на отдельные жанры и изменил DataFrame 
# методом explode()преобразовав data.genres
data.genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [28]:
data = data.assign(genres = data.genres.str.split('|')).explode('genres')
Counter(data.genres).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [67]:
answers['12'] = 'Drama'
# +
data = data.assign(genres = data.genres.str.split('|')).explode('genres')
data.query('budget < revenue').genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [68]:
answers['13'] = 'Peter Jackson'
# +
data.groupby(['director']).sum().sort_values('revenue',ascending=False).index[0]
# сгрупировал информацию по столбцу 'director' и применил sum()
# затем отсортировал по убыванию и вывел первый index

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [69]:
answers['14'] = 'Robert Rodriguez'
# +
data = data.assign(director = data.director.str.split('|')).explode('director')
action_g = data[data.genres.str.match("Action",na=False)] 
action_g.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [70]:
answers['15'] = 'Chris Hemsworth'
# +
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(cast = data.query('release_year == 2012').cast.str.split('|')).explode('cast')
data.groupby(['cast'])[['revenue']].sum().sort_values('revenue',ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [71]:
answers['16'] = 'Matt Damon'
# +
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(cast = data.cast.str.split('|')).explode('cast')
mean_bd = data[data['budget'] > data['budget'].mean()]
mean_bd.groupby(['cast'])[['imdb_id']].count().sort_values(['imdb_id'],ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [72]:
answers['17'] = 'Action'
# +
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(genres = data.genres.str.split('|')).explode('genres')
data = data.assign(cast = data.cast.str.split('|')).explode('cast')
data[data.cast == 'Nicolas Cage'].genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [73]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget
data1 = pd.concat([data,profit],axis = 1)
data1 = data1.rename(columns={data1.columns[-1]:'profit'})
data1 = data1.assign(production_companies = data1.production_companies.str.split('|')).explode('production_companies')
data2 = data1.query('production_companies == "Paramount Pictures"')
data2[data2['profit'] == data2['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [74]:
answers['19'] = '2015'
# +
data = pd.read_csv('movie_bd_v5.csv')
data.groupby(['release_year'])[['revenue']].sum().sort_values('revenue',ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [75]:
answers['20'] = '2014'
# +
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget
data = pd.concat([data,profit],axis = 1)
data = data.rename(columns={data.columns[-1]:'profit'})
data = data.assign(production_companies = data.production_companies.str.split('|')).explode('production_companies')
data = data[data.production_companies.str.match("Warner Bros",na=False)]
data.groupby(['release_year'])[['profit']].sum().sort_values('profit',ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [76]:
answers['21'] = 'Сентябрь'
# +
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.DatetimeIndex(data['release_date']).month
data.release_date.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [77]:
answers['22'] = '450'
# +
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.DatetimeIndex(data['release_date']).month
data = data.query('release_date in ["6","7","8"]')
data.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [78]:
answers['23'] = 'Peter Jackson'
# +
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.DatetimeIndex(data['release_date']).month
data = data.assign(director = data.director.str.split('|')).explode('director')
data = data.query('release_date in ["12","1","2"]')
data.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [79]:
answers['24'] = 'Four By Two Productions'
# +
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(production_companies = data.production_companies.str.split('|')).explode('production_companies')
def calculate(row):
    rw = ''.join(row.split())
    return len(rw)
data['original_title'] = data['original_title'].apply(calculate)
data.groupby(['production_companies'])[['original_title']].median().sort_values('original_title',ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [80]:
answers['25'] = 'Midnight Picture Show'
# +
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(production_companies = data.production_companies.str.split('|')).explode('production_companies')
def calculate_words(row):
    rw = '|'.join(row.split())
    return len(rw)
data['overview'] = data['overview'].apply(calculate)
data.groupby(['production_companies'])[['overview']].mean().sort_values('overview',ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [81]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +
data1=data.groupby(['original_title', 'vote_average',]).mean().sort_values('vote_average',ascending=False)
# сгрупировал DataFrame по названиям фильмов и рейтингу,
# отсортировал по убыванию рейтинга
data.original_title.count()/100
# посчитал соклько фильмов в одном проценте DataFrame
display(data1.head(19))
# вывел 1 процент самых рейтинговых фильмов

,,budget,revenue,overview,runtime,release_year
original_title,vote_average,,,,,
The Dark Knight,8.1,185000000,1001921825,330,152,2008
Room,8.0,6000000,35401758,195,117,2015
Interstellar,8.0,165000000,621752480,188,169,2014
Inside Out,8.0,175000000,853708609,527,94,2015
The Imitation Game,8.0,14000000,233555708,242,113,2014
Gone Girl,7.9,61000000,369330363,140,145,2014
12 Years a Slave,7.9,20000000,187000000,319,134,2013
Inception,7.9,160000000,825500000,237,148,2010
The Grand Budapest Hotel,7.9,30000000,174600318,337,99,2014
The Pianist,7.9,35000000,120072577,200,150,2002
Guardians of the Galaxy,7.9,170000000,773312399,137,121,2014
The Lord of the Rings: The Return of the King,7.9,94000000,1118888979,210,201,2003
The Wolf of Wall Street,7.9,100000000,392000694,172,180,2013
Memento,7.9,9000000,39723096,359,113,2000
The Lord of the Rings: The Two Towers,7.8,79000000,926287400,208,179,2002
Mr. Nobody,7.8,47000000,3547209,108,141,2009
The Theory of Everything,7.8,15000000,121201940,72,123,2014
3 Idiots,7.8,9000000,70000000,540,170,2009
The Lord of the Rings: The Fellowship of the Ring,7.8,93000000,871368364,289,178,2001

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +
data = pd.read_csv('movie_bd_v5.csv')
data['cast_one'] = data['cast'].str.split('|')
# Разделяем data['cast'] по отдельным актерам
from itertools import combinations
data['cast_two']=data.cast_one.apply(lambda x:list(combinations(x,2)))
# с помощью combinations создаём комбинации пар актёров
# с помощью list превращаем комбинации в список
# с помощью apply(lambda x:) создаем Series data['cast_two'] из этих комбинаций
list_1 = data.cast_two.tolist()
# с помощью tolist()приводим Series к типу данных списка 
# получается список из списков
from itertools import chain 
list_2 = chain(*list_1)
# с помощью chain() объединяем их в один список
Counter(list_2).most_common(1)
# считаем количество пар

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [83]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

27